{% extends 'basic.html' %} {% block title %}QUICK VIEW{% endblock %} {% block body %}
<div class="container" style="padding-top: 84px;">
    <a href="/shop/"><button class="btn btn-warning">GO BACK <span>VIEWS:-{{house.product_views}}</span> </button></a>
    <h1>{{house.product_name.upper}}</h1>
    <!-- <p>{{house</p> -->
    <span id="images">
        <img src="/media/{{house.product_image}}" width="679" height="345" id="images" alt="">
    </span>
    <h5><b>{{house.product_desc|safe}}</b></h5>







    <!-- ADDING COMMENT FORM -->
    {% if user.is_authenticated %}
    <h2>Comment Down Here :-</h2>
    <form action="/shop/aboutproduct/{{house.id}}/" method="post"> {% csrf_token %}
        <input type="text" name="comment" style="width: 100vh; border-color: transparent;border-bottom-color: black;" placeholder="Enter Comment">
        <input type="hidden" name="postid" value="{{house.id}}">
        <input type="submit" class="btn btn-success my-2 " value="Comment">
    </form>
    {% else %}
    <h2>PLEASE FIRST DO LOGIN TO DO COMMENT</h2>
    {% endif %}
    <br>
    <!-- SHOWIGN COMMENT FORMS -->





    <b>
        <h5>COMMENTS <span
                style="background-color:skyblue; padding: 7px; border-radius: 20px;">{{no_of_comments}}</span></h5>
    </b>





    <!-- ADDIGN COMMENTS -->
    {% for comment in comments %}
    <div class="row m-2" style="border:2px solid black; width: 100vh;">
        <div class="col col-md-2 " style="border: 2px solid green;"><img src="https://cdn3.vectorstock.com/i/1000x1000/30/97/flat-business-man-user-profile-avatar-icon-vector-4333097.jpg" width="125px" height="128px" alt=""></div>
        <div class="col col-md-10 pl-4"><span style="font-size: 20px;">{{comment.user}}</span><b> <span
                    class='badge badge-success badge-pill'>
                    {{comment.timestamp}}|comment no:- {{comment.sno}}</span></b><br> {{comment.comment}} <br>









            <!-- ADDING THE REPLY -->
            {% if user.is_authenticated %}
            <a class="btn btn-primary  btn-sm" data-toggle="collapse" href="#reply{{comment.sno}}" role="button" aria-expanded="false" aria-controls="reply{{comment.sno}}">
                REPLY
            </a>
            <hr>
            <div class="collapse" id="reply{{comment.sno}}" style="z-index: 7;">
                <form action="/shop/takingreply/" method="post">{% csrf_token %}
                    <div class="card card-body p-2 ">
                        <input class="form-control form-control-sm" type="text" name="reply" placeholder="Add Reply" required>
                        <input type="hidden" name="result_page_id" value="{{house.id}}">
                        <input type="hidden" name="parent_id" value="{{comment.sno}}">
                    </div>
                    <button type="submit" class="btn btn-secondary btn-sm">ADD</button>
                </form>
            </div>
            {% endif %}
            <!-- ADDING REPLIES OF COMMENTS -->
            {% for key, value in parentreply.items %} {% if comment.sno == key %} {% for val in value %}
            <div class="container row ">
                <div class="col-md-1 mx-3"><img src=" https://cdn3.vectorstock.com/i/1000x1000/30/97/flat-business-man-user-profile-avatar-icon-vector-4333097.jpg " width="60px " height="60px " alt=" "></div>
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-12">
                            <b>{{val.user.upper}}</b><span class='badge badge-primary badge-pill mx-3'>{{comment.timestamp}}|comment no :-{{comment.sno}}</span>
                        </div>
                        <div class="col-md-12 ">
                            <span style="padding:2px; ">{{val}}</span>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %} {% endif %} {% endfor %}
        </div>

    </div>
    {% endfor %}
</div>

{% endblock %}